html, body { 
	margin:0; 
	padding:0 
}

embed { 
	width: 100%; 
	height: 100% 
}

body {
	background-image: url("img/bg.png");
	background-color: #000000;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

h1 {
   font-family: 'EB Garamond', serif;
   letter-spacing: 8px;
   font-size: 15px;
   color: lightgray;
}

h2 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	line-height: 25px;
    letter-spacing: 1px;
    font-size: 25px;
}

h3 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
    margin-top:-20px;
	letter-spacing: 1px;
}

h4 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
	line-height: 25px;
    letter-spacing: 1px;
    font-size: 18px;
}

.tooltip {
  overflow:hidden;
  position: absolute;
  text-align: left;
  max-width: 410px;
  margin-top: -20px;
  font: 15px sans-serif;
  background: black;
  opacity: 0.7;
  line-height: 20px;
  padding: 8px;
  color: #fff;
  pointer-events: none;
  border-top-style: solid;
  border-color: white;
  border-width: 2px;
}

.tooltip .tooltiptext {
	background-color: white;
}

.box_header {
  position: relative;
	float: left;
	background: darkred;
	height: 80px;
	width: 330px;
}

.icon_header {
	  position: relative;
	float: left;
	background: firebrick;
	height: 80px;
	width: 80px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating_alt {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.crucible_rot {
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
  -ms-animation: rotating 120s linear infinite;
  -o-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;
}

.strikes_rot {
  -webkit-animation: rotating_alt 60s ease infinite;
  -moz-animation: rotating_alt 60s ease infinite;
  -ms-animation: rotating_alt 60s ease infinite;
  -o-animation: rotating_alt 60s ease infinite;
  animation: rotating_alt 60s ease infinite;
}

.nessus_rot {
  -webkit-animation: rotating_alt 140s linear infinite;
  -moz-animation: rotating_alt 140s linear infinite;
  -ms-animation: rotating_alt 140s linear infinite;
  -o-animation: rotating_alt 140s linear infinite;
  animation: rotating_alt 140s linear infinite;
}

.nessus_rot2 {
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
  -ms-animation: rotating 120s linear infinite;
  -o-animation: rotating 120s linear infinite;
  animation: rotating 120s linear infinite;
}

.io_rot {
  -webkit-animation: rotating 200s linear infinite;
  -moz-animation: rotating 200s linear infinite;
  -ms-animation: rotating 200s linear infinite;
  -o-animation: rotating 200s linear infinite;
  animation: rotating 200s linear infinite;
}

.mars_rot {
  -webkit-animation: rotating_alt 200s linear infinite;
  -moz-animation: rotating_alt 200s linear infinite;
  -ms-animation: rotating_alt 200s linear infinite;
  -o-animation: rotating_alt 200s linear infinite;
  animation: rotating_alt 200s linear infinite;
}